<div id="frame-menu" class="contextMenu">
	<ul>
		<li class="change-background"><a href="#change-background"><span class="ui-icon ui-icon-gear">Change background</span></a></li>
		<li class="change-frame"><a href="#change-frame"><span class="ui-icon ui-icon-gear">Change frame</span></a></li>
		<li class="hidden change-text"><a href="#change-text"><span class="ui-icon ui-icon-gear">Change text</span></a></li>
		<li class="hidden change-image"><a href="#change-image"><span class="ui-icon ui-icon-gear">Change image</span></a></li>
		<li class="hidden group"><a href="#group"><span class="ui-icon ui-icon-gear">Group selected</span></a></li>
		<li class="hidden ungroup"><a href="#ungroup"><span class="ui-icon ui-icon-gear">Ungroup selected</span></a></li>
		<li class="hidden remove"><a href="#remove"><span class="ui-icon ui-icon-gear">Remove selected</span></a></li>
		<li class="separator"></li>
		<li class="save"><a href="#save"><span class="ui-icon ui-icon-gear">Save</span></a></li>
		<li class="load"><a href="#load"><span class="ui-icon ui-icon-gear">Load</span></a></li>
	</ul>
</div>